body{
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

header{
    text-align: center;
    padding-bottom: 7px; 
    border-bottom: 1px solid #616161;
}
#logo h1{
    color: #9e9e9e;
    font-weight: 100;
    font-size: 18pt;
}
header a{
    text-decoration: none;
    color: #6d6d6d;
}

nav a{
    padding-right: 5px;
}
nav a:hover{
    border-bottom: solid 1px #c1d5e0;
}
nav #selecionado{
    color: #c1d5e0;
}

#principal{
    /*width: 960px;*/
    width: 75%;
    margin: auto;
    padding: auto;
}

footer{
    float: left;
    margin: 55px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #6d6d6d;
    border-top: 1px solid #616161;
}
footer span:hover{
    color: white;
}

/*S O B R E*/

section.part1, section.part2{
    /*text-indent: 35px;*/
    width: 50%;
    float: left;
}
section.part1 h3{
    color: #9e9e9e;
    margin: 20px 0;
}
section.part1 p{
    float: left;
    color: white;
    margin: 0 30px auto auto;
}

section.part2 img{
    float: left;
    width: 400px;
    filter: brightness(60%);
}
.part2.zoom{
    overflow: hidden;
}
.part2 .zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.part2 .zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(100%);
}

/* T R A B A L H O S */

div#imagens{
    margin: 40px auto auto auto;
}
div#imagens img{
    /*float: left; -- Não pretendo ativar, por enquanto -- */
    height: 330px;
    border: 2.5px;
}
div#imagens img:hover{
    cursor: pointer;
}

div.fundo{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
div.fundo a{
    float: right;
    margin: 7px;
}

div.conteudo{
    display: none;
    position: fixed;
    top: 3%;
    width: auto;
    height: auto;
    /*padding: 16px;*/
    /*border: 5px solid #C5D1E2;*/
    background-color: none;
    z-index: 1002;
    overflow: auto;
}
div.conteudo a{
    color: #313233;
    background-color: #fff;
    float: right;
    size: 25pt;
}
div.conteudo img{
    width:auto;
}

/* C O N T A T O */

span.obrigatorio{
    color: #c62828;   
}
span.alert{
    display: none;
    float: right;
}

section.part3{
    margin: 0 auto;
    padding: 0 auto;
    width: 30%;
}

form{
    text-indent: 0; /*Cancela a identação usada na página Sobre*/
    margin: 40px auto auto auto;
    color: whitesmoke;
}
form input{
    width: 298px;
    margin: 5px 0;
    padding: 2px;
}
form input:hover{
    background-color: #cfd8dc;
}
form textarea{
    margin-top: 5px;
    width: 300px;
}
form textarea:hover{
    background-color: #cfd8dc;
}
form a#btn{
    width: 100px;
    border: 1px solid #c1d5e0;
    color: #c1d5e0;
    padding: 5px;
}
form a#btn:hover{
    color: black;
    background-color: #c1d5e0;
}

form span#confirm{
    display: none;
    float: right;
    color: #78909c;
}

/* A D M I N */

#tb{
    display: block;
    color: white;
    width: 71%;
    margin: 0 auto;
}
#tb tr td{
    padding: 0 5px;
    background:white;
}
#tb input{
    border: none;
    padding: 4px;
    margin: 0;
}
#tb input[type=text]{
    width: 200px;
}
#tb textarea{
    border: none;
    padding: 4px 6px 4px 4px;
    margin: 0;

    max-width: 500px;
    width: 500px;
    min-width: 500px;

    min-height: 15px;
    height: 15px;
    
    line-height: 18px;
    text-align: justify;
}
#tb tr td:hover input{
    background-color: #cfd8dc;
}
#tb tr td:hover{
    background-color: #cfd8dc;
}
#tb tr td:hover textarea{
    background-color: #cfd8dc;
}
#tb tr td.titulo{
    background-color: black;
}

nav a.deslogar{
    float: right;
    color: #c1d5e0;
}

/* L O G I N */

div#firebaseui-auth-container div.mdl-card{
    filter: brightness(80%);
}

div#pesq{
    float: right;
    margin: 0 30px 10px 0; 
}
div#pesq a{
    width: 100px;
    border: 1px solid #c1d5e0;
    color: #c1d5e0;
    padding: 5px;
}