body{
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}
a:hover{
    cursor: pointer;
}

header{
    text-align: center;
    padding-bottom: 7px; 
    border-bottom: 1px solid #616161;
}
#logo h1{
    color: #9e9e9e;
    font-weight: 100;
    font-size: 18pt;
}
header a{
    text-decoration: none;
    color: #6d6d6d;
}

nav a{
    padding-right: 5px;
}
nav a:hover{
    border-bottom: solid 1px #c1d5e0;
}
nav #selecionado{
    color: #c1d5e0;
}

#principal{
    width: 960px;
    margin: auto;
    padding: auto;
}

footer{
    float: left;
    margin: 60px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: #6d6d6d;
    border-top: 1px solid #616161;
}
footer span:hover{
    color: white;
}

/*S O B R E*/

section.part1, section.part2{
    width: 50%;
    float: left;
}
section.part1 h3{
    color: #9e9e9e;
    margin: 20px 0;
}
section.part1 p{
    float: right;
    color: white;
    margin: 0 10px auto auto;
}

section.part2 img{
    float: left;
    width: 400px;
    filter: brightness(60%);
}
.part2.zoom{
    overflow: hidden;
}
.part2 .zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.part2 .zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(100%);
}